*,*::after,*::before{
    box-sizing: border-box;
}
body{
    background: linear-gradient(#ebece7, #fff);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.title{
    padding: 5px;
    font-weight: 800;
    color: transparent;
    font-size: 120px;
    background-image: url(../img/lights\ burble.jpeg);
    background-repeat: repeat;
    background-position: center center;
    background-size: 200%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 90px;
    letter-spacing: -8px;
}
.subtitle{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}